<h1>Products new</h1>
<p>This is where the form will go for a new product</p>
<!--I have to pass the form data within an object called product -->
<form action='/create' method='post'>
	Name:<input name='product[name]' type='text'></br>
	Description:<textarea name='product[description]'></textarea></br>
	Price:<input name='product[pricing]' type = 'text'></br>
	<input type='submit' value='make a new product!'> 
	<%= tag(:input,:type =>"hidden",:name => request_forgery_protection_token.to_s,:value => form_authenticity_token)%>
	Category: 
	<select name='category'>
		<% @category.each do |category| %>
			<option value='<%= category.id%>'><%= category.name %></option>
		<% end %>
	</select>
</form>
	<a href = "/products">Back</a>
</div>

